body {
  background-color: rgba(216, 99, 71, 0.5);
}

@media only screen and (max-width: 800px) {
  body {
    background-color: floralwhite;
  }
}

h1 {
  color: black;
  margin-left: 20px;
}

/*grouping selectors*/
p.center{
  text-align: center;
  color: pink;
}

#para1 {
  text-align: center;
  color: rgb(255, 124, 176);
}

* {
  text-align: left;
  color: grey;
}

h1, p { 
  background-color: #FFF0F5;
}

a[target="intro"] { 
  background-color: yellow;
}

/* mouse over link */
a.highlight:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: deeppink;
}

div p {
  color: hsl(172, 100%, 50%);
  background-color: hotpink;
}

div > p {
  color: hsl(172, 100%, 50%);
  background-color: white;
}

div ~ p {
  background-color: hsla(27, 100%, 42%, 0.2);
}

div + p {
  background-color: hsl(194, 0%, 86%);
}

/*border styles */

p.mix {
  border-style: dotted dashed solid double;
  border-width: 10mm;
  border-color: rgb(102, 0, 102);
  border-radius: 2cm;
}

p.dotted {
  border-style: dotted;
  border-width: 10px;
  border-color: rgb(102, 0, 102);
  border-radius: 10vw;
}

p.solid {
  border-style: solid;
  border-width: 1rem;
  border-color: rgb(102, 0, 102);
  border-radius: 15mm;
}

box {
  width: 100px;
  border: 15px solid bisque;
  padding: 50px;
  margin: 10px;
}

box2 {
  max-width: 200px;
  border: 15px solid aliceblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

box3 {
  width: 100px;
  border: 15px solid antiquewhite;
  padding: 25px 50px 75px 100px;
  margin: 25px 50px 75px 100px;
}

h1 {
  text-decoration: underline;
  text-align: center;
}

span {
  display: block;
}

li {
  display: inline;
}

div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid azure;
} 

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid aqua;
}

* {
   box-sizing: border-box;
}

.item1 { grid-area: header; 
}
.item2 { grid-area: main; 
}
.item3 { grid-area: sidebar; 
}
.item4 { grid-area: footer; 
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
  grid-gap: 10px;
  background-color: wheat;
  padding: 10px;
}



.grid-container > div {
  background-color: seashell;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}






