body {
  background-color: lightpink;
}

h1 {
  color: black;
  margin-left: 20px;
}

p.center {
  text-align: center;
  color: pink;
}

#para1 {
  text-align: center;
  color: pink;
}

* {
  text-align: left;
  color: grey;
}

p { 
  background-color: lightblue;
}

a[target="intro"] { 
  background-color: yellow;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: green;
}
